/* -------------------------------------------------------
       Center for Humanitarian Data Xarigan themes        
* ------------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Arvo);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);

body {
    font-family: 'Source Sans Pro', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif;
    font-weight: normal;
    color: #000;
}
h1, h2, h3 {
    font-family: 'Arvo';
    font-weight: normal;
    color: #1bb580;
}
.remark-slide-content {
    background-color: #fff;
    font-size: 20px;  
    padding: 1em 4em 1em 4em;
}
.remark-slide-content h1 {
    font-size: 55px;
}
.remark-slide-content h2 {
    font-size: 45px;
}
.remark-slide-content h3 {
    font-size: 35px;
}
.remark-code, .remark-inline-code {
    font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace;
}
.remark-code {
    font-size: 0.9em;
}
.remark-inline-code {
    font-size: 1em;
    color: #000;
}
.remark-slide-number {
    color: #1bb580;
    opacity: 1;
    font-size: 0.9em;
}
a, a > code {
    color: #1bb580;
    text-decoration: none;
}
.footnote { 
    position: absolute;
    bottom: 3em;
    padding-right: 4em;
    font-size: 0.9em;
}
.remark-code-line-highlighted {
    background-color: rgba(255,255,0,0.5);
}
.inverse {
    background-color: #1bb580;
    color: #fff;
    
}
.inverse h1, .inverse h2, .inverse h3 {
    color: #fff;
}
.title-slide {
    background-image: url(img/title-background.svg);
    background-size: cover;
    padding-top: 10em;
    vertical-align: middle !important; 
}
.title-slide, .title-slide h1, .title-slide h2, .title-slide h3 {
    color: #fff;
}
.title-slide {
    background-color: #1bb580;
}
.title-slide .remark-slide-number {
    display: none;
}
/* Two-column layout */
.left-column {
    width: 20%;
    height: 92%;
    float: left;
}
.left-column h2, .left-column h3 {
    color: #777;
}
.left-column h2:last-of-type, .left-column h3:last-child {
    color: #000;
}
.right-column {
    width: 75%;
    float: right;
    padding-top: 1em;
}
.pull-left {
    float: left;
    width: 47%;
}
.pull-right {
    float: right;
    width: 47%;
}
.pull-right ~ * {
    clear: both;
}
img, video, iframe {
    max-width: 100%;
}
blockquote {
    border-left: solid 5px lightgray;
    padding-left: 1em;
}
.remark-slide table {
    margin: auto;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}
.remark-slide table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) { background: #eee }
table.dataTable tbody {
    background-color: #fff;
    color: #000;
}
table.dataTable.display tbody tr.odd {
    background-color: #fff;
}
table.dataTable.display tbody tr.even {
    background-color: #eee;
}
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #000;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #000 !important;
}

@page { margin: 0; }
@media print {
    .remark-slide-scaler {
	width: 100% !important;
	height: 100% !important;
	transform: scale(1) !important;
	top: 0 !important;
	left: 0 !important;
    }
}

.iframe-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.iframe-container iframe {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
